<header class="sidebar">
  <div class="container">
    <h1 style="line-height:1.6;font-size:1rem;margin:0 0 0.25em 0;">Domonic Milesi</h1>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://domonicmilesi.com">Home</a>
      <a class="sidebar-nav-item" href="https://domonicmilesi.com/bookmarks">Bookmarks</a>
      <a class="sidebar-nav-item" href="https://domonicmilesi.com/projects">Projs</a>
      <a class="sidebar-nav-item" href="https://domonicmilesi.com/about">About</a>
    </nav>
  </div>
</header>
